:root {
  --c-black: rgba(44, 44, 44, 1);
  --c-black-20: rgba(110, 110, 110, 1);
  --c-black-30: rgba(75, 75, 75, 1);
  --c-border: rgba(245, 245, 245, 1);
  --c-primary: rgba(20, 115, 230, 1);
  --c-white: rgba(255, 255, 255, 1);
  --font-main: "PT Sans";
}

body {
  background: darkslategray;
  font-family: var(--font-main, sans-serif)
}

button {
  background: none;
  border: none;
}