.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 50px;
    height: 100px;
    padding: 0 25px;
    border-bottom: 1px solid var(--c-black) ;
}
.logo {

}

.nav {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    width: 60px;
    height: 60px;
}

.nav__davinciLogo {
    display: inline-block;
}