.like_button {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 5px;
    height: 100%;
    cursor: pointer;
}

.count_like {
    font-size: 12px;
    color: var(--c-black-20);
}



.no_active svg path {
    fill: gray;
}

.active svg path {
    fill: red;
}

