.circle {
    background: gray;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.circle:hover {
    background: #b22828;
}

.active {
    background: #b22828;
}

.rating {
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--c-white);
}
.like_button {
    display: flex;
    gap: 10px;
}